<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Profile Page</title>
</head>
<body>
 
        
  <%let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>   

  <header>
    <nav>
      <section class="logo">
        <a href="/index"><img src="img/logo.jpg" class="logoPic" alt="Engee fitness logo"></a>
      </section>
    
      <section class="links">
        <ul>
           <li><a href="/index">Home</a></li>
           <li><a href="/workout">Workouts</a></li>
           <li><a href="/mealplan">Meal Plans</a></li>
         </ul>
      </section>

      <section class="accountlinks">
        <ul>
          <li><a href="/login"><i class="fa-solid fa-user"></i></li></a>
          <li><a href="/login" class="signIn">Sign In</a></li>
        </ul>
      </section>
    </nav>
  </header>
       
  <section class="calorieTracker">
    
      <section class="dailyMealForm">
        <form class="dailyMeal" action="/info" method="POST">
          
          <div class="dates">
            <h3>Meals Of The Day</h3>
            <select name="day">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
              
            </select>
            <select name="meal">
              <option>Breakfast</option>
              <option>Lunch</option>
              <option>Dinner</option>
              <option>Snack</option>
            </select>
          </div>
          
          <div class="meal"> 
            <div class="input">
              <span>Name Of Meal</span>
            </div>
            
            <div id="mealTxt">
              <input type="text" placeholder="Enter Your Meal" name="name"> 
            </div>
          </div>
          
          <div class="calories">
            <div class="input">
              <span>Calories</span>
            </div>
            
            <div class="txtInput">
              <input type="number" placeholder="Calories" name="calories"> grams
            </div>
          </div>
         
          <div class="protein">
            <div class="input">
              <span>Protein</span>
            </div>
            
            <div class="txtInput">
             <input type="number" placeholder="Protein" name="protein"> grams
            </div>
          </div>
         
          <div class="carbs">
            <div class="input">
              <span>Carbs</span>
            </div>
            
            <div class="txtInput">
              <input type="number" placeholder="Carbs" name="carbs"> grams
            </div>
          </div>
          
          <div class="fats">
            <div class="input">
              <span>Fats</span>
            </div>
            
            <div class="txtInput">
              <input type="number" placeholder="Fats" name="fats"> grams
            </div>
          </div>
          
          <div class="options">
            <div class="input">
              <span>Did you enjoy it?</span>
            </div>
            
            <div class="txtInput">
              <select name="option">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
           
          </div>
          
          <button type="submit">Keep Track</button>
         
        </form>
      </section>
  </section>
    
 
  

  <section class="mealSectionBtn">
    <h2 class="orders">Meals Of the Week</h2>
    <ul class="messages">
          
      <% for(let x = 0; x < days.length; x++) { %>
        <section class="daysContainer">

          <section class="daysSection">
            <h2><%= days[x] %></h2>
                
                <% for(var i=0; i < info.length; i++) {%>
                 
                <% if(info[i].day === days[x]) {%>
                <section class="daysTxt">
                    <li><span><%= info[i].day %></span></li>
                    <li><span><%= info[i].meal %></span></li>
                    <li><span><%= info[i].name %></span></li>
                    <li><span><%= info[i].calories %> calorie(s) </span></li>
                    <li><span><%= info[i].protein %> grams of protein </span></li>
                    <li><span><%= info[i].carbs %> gram(s) of carbs </span></li>
                    <li><span><%= info[i].fats %> gram(s) of fat </span></li>
                    <li><span><%= info[i].option %></span></li>
                    
                    
                    <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>

                    <% if(info[i].check === true) { %>
                      <span><i data-checkbox="true" class="fa-solid fa-heart checkgreen strike" aria-hidden="true"></i></span> 
                    <% } else { %>
                      <span><i data-checkbox="false" class="fa-solid fa-heart checkblack" aria-hidden="true"></i></span>
                    <% } %>
                </section>
                    <% } %>
                  
                    <% } %>
          </section>
              <% } %>
        </section>
    </ul>
  </section>

       
        
        <!-- <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="number" value="<%= user.local.email %>" name="name">
            <input type="number" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %> -->
          
        <!-- LOCAL INFORMATION -->
          <!-- <section class="localInfo">
            <div>
                <h3><span class="fa fa-user" aria-hidden="true" ></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
          </section> -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  





          <footer>
            <section>
              <section class="footerLinks">
                <div class="copyRight">
                  <span>&#169; Engee Wellness</span>
                </div>
                
                <ul>
                  <li><a href="/index">Home</a></li>
                  <li><a href="/workout">Workouts</a></li>
                  <li><a href="/mealplan">Meal Plans</a></li>
                </ul>
              </section>
            </section>
          </footer>







 <script src="main.js"></script> 
</body>
</html>